$primary-color:         #219C97;
$primary-color-dark:    rgba(31, 7, 33, 0.52);
$primary-color-light:   #d6e8e8;
$primary-color-text:    #2a2a2a;
$secondary-color-text:  #b8b8b8;
$accent-color:          red;
$header-color-table:    #555;
$white-color:           #fff;
$white-color-2:         #f1f1f1;
$light-blue-color:      #219c97;
$light-blue-color-dark: #3a827f;
$bg-dropdown:           #f3f3f3;
