.panel-group {
  margin-bottom: 10px;
  page-break-after: always;
  a {
    color: $primary-color-dark;
  }
  .panel {
    margin: 0 1em 1em;
    .panel-body {
      padding-top: 1.5em;
      .members-title {
        margin: 2em 1em 1em;
      }
      .panel-heading {
        padding: 10px;
        .container {
          padding: 5px;
        }
      }
    }
  }
}

.list-panel {
  border: 0;
  box-shadow: 0;
  .list-heading {
    padding: 0;
    background-color: #fff;
    &:focus>.panel-title .fa-chevron-circle-right {
      transform: rotate(90deg);
    }
  }
}

@media print {
  .panel-collapse,
  .panel-collapse .collapse {
    display: block !important;
    height: auto !important;
  }
  .hidden-print {
    display: none;
  }
}

.radio-box {
  padding-bottom: 5px;
  margin: 5px 0;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.block-hr {
  margin: 1px 0;
  border: 0;
  border-top: 1px solid #dcdcdc;
}
